* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

header {
    font-weight: 400;
    margin: 2rem;
}

.rounds {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rounds .round-label {
    font-size: 1.875rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
}

.rounds .target-label {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0;
}

.guessing-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20rem;
    margin-bottom: 3.75rem;
}

.computer-guessing-area {
    display: flex;
    flex-direction: column;
    min-width: 303px;
    height: 100%;
    padding: 19px;
    background-color: #ececec;
    align-items: center;
}

#computer-guessing {
    font-weight: 700;
    font-size: 50px;
    color: #a5a5a5;
}

.computer-guess {
    position: relative;
    top: 5rem;
}

.winning-text {
    color: #ec3636;
    font-weight: 700;
}

#user-guess {
    width: 90px;
    height: 90px;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 auto;
}

.user-guessing, .guess-button {
    position: relative;
    top: 0.75rem;
}

.number-controls {
    font-size: 0;
    margin-bottom: 23px;
    margin-top: 5px;
}

.number-control {
    border: solid 1px #4c7ef3;
    display: inline-block;
    width: 45px;
    height: 35px;
    font-size: 24px;
    font-weight: 700;
    color: #4c7ef3;
    cursor: pointer;
  }

.left {
    border-top-left-radius: 1.4rem;
    border-bottom-left-radius: 1.4rem;
}

.right {
    border-top-right-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
}

.guess-label {
    font-weight: 700;
    font-size: 1.1rem;
}

.score-label {
    font-weight: 700;
    font-size: 0.8rem;
}

.user-guessing-area {
    display: flex;
    border: solid 1px #979797;
    flex-direction: column;
    min-width: 303px;
    height: 100%;
    padding: 19px;
}

.user-guessing {
    display: flex;
    flex-direction: column;
}

.number-controls button[disabled] {
    color: #dfdfdf;
    cursor: default;
  }

.button {
    padding: 1.25rem 2.5rem;
    background-color: #4c7ef3;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.next-round {
    padding: 1.25rem 2.5rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #d2d2d2;
    font-size: 1.1rem;
    margin-bottom: 3.75rem;
    color: #a0a0a0;
}

.container-footer {
    display: flex;
    text-align: center;
    background-color: #ececec;
    margin: 2rem auto;
    width: 100%;
    height: 8.5rem;
    align-items: center;
    justify-content: space-around;
}

.instruction {
    width: 11.25rem;
    height: 8.4375rem;
    position: relative;
    top: 0.75rem;
}

.instruction h3 {
    font-size: 0.875rem;
}

.instruction p {
    font-size: 1rem;
    margin-top: 0.75rem;
}



